<mat-toolbar color='primary'>

 
  <button mat-raised-button class="btn" [routerLink]="['/user']" routerLinkActive="router-link-active" >user</button>
  <button mat-raised-button class="btn" [routerLink]="['/post']" routerLinkActive="router-link-active" >post</button>
  <button  mat-raised-button class="btn" (click)=reload()>
    Reload
  </button>
  <span class="flexExpand"></span>
  
    <button mat-raised-button class="btn" (click)='add()' >
      Add new
    </button>   
 
</mat-toolbar>

 <ngx-spinner bdColor = "rgba(0,0,0,0.93)" size = "large" color = "#103ce7" type = "ball-climbing-dot" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
 <router-outlet></router-outlet>

