<form [formGroup]="editUser"
(ngSubmit)='this.editUser.valid && this.editOrUpadate()'
>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Name</mat-label>
        <input formControlName="name" type="text" matInput  
        >
        <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error> -->
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input formControlName="email" type="email" matInput  
        >
        <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error> -->
      </mat-form-field>

      <button mat-raised-button style="width: 100%;" type="submit">
        {{this.data ? 'Edit' : 'Add'}}
      </button>
</form>